[submodule "nvim/pack/plugins/opt/vim-fugitive"]
	path = nvim/pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/pack/plugins/start/nvim-treesitter"]
	path = nvim/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/pack/plugins/start/zig.vim"]
	path = nvim/pack/plugins/start/zig.vim
	url = https://github.com/ziglang/zig.vim
[submodule "nvim/pack/plugins/opt/vimwiki"]
	path = nvim/pack/plugins/opt/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "nvim/pack/plugins/start/pkl-neovim"]
	path = nvim/pack/plugins/start/pkl-neovim
	url = https://github.com/apple/pkl-neovim.git
[submodule "nvim/pack/plugins/opt/mini.files"]
	path = nvim/pack/plugins/opt/mini.files
	url = https://github.com/nvim-mini/mini.files.git
[submodule "nvim/pack/plugins/opt/nvim-dap"]
	path = nvim/pack/plugins/opt/nvim-dap
	url = https://codeberg.org/mfussenegger/nvim-dap.git
[submodule "nvim/pack/plugins/opt/nvim-dap-go"]
	path = nvim/pack/plugins/opt/nvim-dap-go
	url = https://github.com/leoluz/nvim-dap-go.git
[submodule "nvim/pack/plugins/opt/nvim-dap-view"]
	path = nvim/pack/plugins/opt/nvim-dap-view
	url = https://github.com/igorlfs/nvim-dap-view.git
