.DS_Store
vim/bundle
.netrwhist
*.elc
fish/fishd.*
fish/fish_history
emacs.d/abbrev_defs
emacs.d/ac-comphist.dat
emacs.d/auto-save-list
emacs.d/elpa
emacs.d/eshell/history
emacs.d/eshell/lastdir
emacs.d/package.el
emacs.d/tramp
emacs.d/url
emacs.d/vendor
